body{
   background-color: rgb(19, 127, 127);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto  auto  auto;

    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;

    row-gap: 10%;
    column-gap: 0%;

  }
  
  .grid-item {
    background-color: rgba(101, 208, 25, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;

    padding: 20px;
    font-size: 30px;
    text-align-last: center;

    height: 80px;
    width: 80px;
}

.button1{
    height: 80px;
    width: 80px;
    text-align: top;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    color:aqua;    
}