body{
  margin: 0;
  padding: 0;
   background-color: rgb(19, 127, 127);
   display: grid;
   grid-auto-flow: row;
   overflow: hidden;
}
.header {
  width: 100vw;
  height: 10px;
  background-color: rgb(64, 19, 106);
}


.grid-container {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;

    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

    row-gap: 10%;
    column-gap: 1%;

  }
  
  .grid-item {
    background-color: rgba(101, 208, 25, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;

    padding: 20px;
    font-size: 30px;
    text-align-last: center;

    height: 80px;
    width: 80px;
}

.button1{
    height: 80px;
    width: 80px;
    text-align: top;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    color:aqua;    
}